<div class="row">
  <div class="col-md-12">
    {{errors.globalMsg}}
    <form (submit)="login()">
      <div class="form-group">
        <label for="email" class="control-label">
          <span *ngIf="errors.loginError == false">Email address</span>
          <span *ngIf="errors.loginError">{{errors.loginMsg}}</span>
        </label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">
          <span *ngIf="errors.passwordError == false">Password</span>
          <span *ngIf="errors.passwordError">{{errors.passwordMsg}}</span>
        </label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
      </div>
      <button type="submit" class="btn btn-default">Sign in!</button>
    </form>
  </div>
</div>
